@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;500;700&display=swap");

* {
  box-sizing: border-box;
}

:host {
  --metronome-icon-color: #e5e7ed;
  --metronome-text-color: #fff;
  --metronome-primary-color: #5e728f;
  --metronome-beat-color: #38485a;
  font-size: var(--metronome-font-size, 1rem);
  font-family: var(--metronome-font-family, "Teko"), sans-serif;
  background-color: var(--metronome-primary-color);
  display: block;
  padding: 2em;
  position: fixed;
  inset: 0;
  display: grid;
  align-content: center;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
}

.container {
  display: grid;
  grid-auto-flow: row;
  gap: 10vmin;
  max-width: 500px;
}

.sr-only {
  clip: rect(0 0 0 0);
  block-size: 1px;
  border: 0;
  inline-size: 1px;
  inset-block-start: 0;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.toggle-play {
  width: 30vmin;
  height: 30vmin;
  border-radius: 50%;
  background: var(--metronome-text-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6vmin;
  padding-left: 7vmin;
  color: var(--metronome-primary-color);
  margin: 0 auto;
  border-color: transparent;
}

.toggle-play svg {
  fill: var(--metronome-primary-color);
}

:host(.is-playing) .toggle-play {
  padding-left: 6vmin;
}

.pause-icon {
  display: none;
}

:host(.is-playing) .play-icon {
  display: none;
}

:host(.is-playing) .pause-icon {
  display: initial;
}

.tempo-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto 1fr auto;
  gap: 5vmin;
  color: var(--metronome-text-color);
}

.tempo-control {
  background: transparent;
  border: none;
  width: 15vmin;
  height: 15vmin;
  padding: 2vmin;
  color: var(--metronome-text-color);
  user-select: none;
  --webkit-user-select: none;
}

.tempo {
  font-size: 6em;
  position: relative;
  font-weight: 700;
  user-select: none;
  --webkit-user-select: none;
}

.tempo::after {
  content: attr(data-text);
  font-size: 0.2em;
  text-transform: uppercase;
  position: absolute;
  bottom: -0.3em;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 300;
}

.beats {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vmin;
}

.beat {
  width: 5vmin;
  height: 5vmin;
  border-radius: 50%;
  background-color: var(--metronome-beat-color);
}

.signatures {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vmin;
}

.signature {
  background-color: var(--metronome-beat-color);
  outline: 2px solid var(--metronome-primary-color);
  border: none;
  width: 10vmin;
  height: 10vmin;
  border-radius: 50%;
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  color: var(--metronome-text-color);
}

.signature > *,
.signature::before {
  grid-area: 1 / 1 / 1 / 1;
}

.signature > div:first-child {
  position: relative;
  top: -20%;
  left: -20%;
}

.signature > div:last-child {
  position: relative;
  bottom: -20%;
  right: -20%;
}

.signature::before {
  content: "";
  width: 80%;
  height: 1px;
  background: var(--metronome-text-color);
  transform: rotate(-45deg);
  transform-origin: center center;
}
